
.cfooter {
    /*max-width: 970px;*/
    margin: 40px auto;
    font-size: 12px;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 50px;
    border-top: 3px solid #f0f0f0;
}

/*-------------loading animation---*/
#loadmessage {
    z-index:     5000;
    text-align:  center;
    vertical-align:middle;
    font-weight: bold;
    font-size:   100%;
    position:    absolute;
    top:         0;
    left:        0;
    height:      100%;
    width:       100%;
    margin:      auto;
    padding-top: 35%;
    background:  url('loading.gif')
                 50% 45%
                 no-repeat;
}
